.contacto-container {
  min-height: 100vh;
  background: var(--bg-variant);
  padding-top: 100px;
  background-image: url("../../public/bg-patern3.png");
}

.contacto-container div {
  background: var(--white);
}

.explain {
  width: 100%;
  display: flex;
  justify-content: center;
}

.explain div {
  background: #ddd;
  margin: 20px 0;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.explain h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explain p {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.img-contact {
  width: 100%;
  height: 200px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-contact::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6) url("../../public/posada1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.img-contact h2 {
  position: relative;
  color: var(--white);
  font-size: 3.5rem;
  text-decoration: underline 2px var(--primary);
}

.form-container {
  background: var(--white);
  width: 100%;
  padding: 50px 100px;
  border-bottom: 2px solid var(--primary);
  display: flex;
  justify-content: center;
}

.btns-contact {
  width: 50%;
}

.form-contact {
  width: 50%;
}

.form-contact h3 {
  display: flex;
  font-size: 1rem;
  width: 80%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  border: 1px solid #bbb;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  background: #fff;
  border: 1px solid var(--primary);
  resize: none;
  color: var(--color-white);
}

.btn-primary {
  width: 20%;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid transparent;
  font-size: 1.2rem;
  color: var(--white);
  background: var(--primary);
  transition: all 0.5s;
  cursor: pointer;
}

.btn-primary:hover {
  background: #fff;
  color: var(--bg);
  border: 1px solid var(--primary);
}

.h4-contact {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: underline 2px var(--primary);
}

.icon-contact {
  font-size: 2rem;
}

.btn-cont {
  width: 90%;
  padding: 10px 0;
}

.email {
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
}

.btn-cont p {
  width: 100%;
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.btn-cont button {
  border: 1px solid var(--primary);
  padding: 10px 0px;
  margin: 10px 0;
  cursor: pointer;
  width: 40%;
  font-size: 1rem;
  font-weight: bold;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s;
}

.g-btn:hover {
  background: rgba(255, 129, 129, 0.6);
  border: 1px solid rgb(159, 11, 11);
  color: var(--bg-variant);
}

.e-btn:hover {
  background: rgba(129, 182, 255, 0.6);
  border: 1px solid rgb(11, 46, 159);
  color: var(--bg-variant);
}

.w-btn:hover {
  background: rgba(129, 255, 161, 0.6);
  border: 1px solid rgb(11, 159, 28);
  color: var(--bg-variant);
}

.map-container {
  width: 100%;
  height: 500px;
}
@media screen and (max-width: 1024px) {
  .img-contact {
    height: 160px;
  }
  .explain div {
    width: 90%;
  }
  .explain h3 {
    font-size: 1rem;
  }
  .explain p {
    font-size: 0.8rem;
  }
  .form-container {
    padding: 50px 10px;
  }

  .form-contact h3 {
    width: 100%;
  }
  .btn-cont {
    width: 95%;
  }
  .h4-contact {
    font-size: 1.5rem;
  }
  .icon-contact {
    font-size: 1.6rem;
  }
  .btn-cont p {
    font-size: 1rem;
  }
  .btn-cont button {
    font-size: 0.8rem;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .img-contact {
    height: 100px;
  }
  .img-contact h2 {
    font-size: 2rem;
  }
  .explain div {
    width: 100%;
  }
  .explain h3 {
    font-size: 0.8rem;
  }
  .explain p {
    font-size: 0.7rem;
  }
  .form-container {
    flex-direction: column;
  }
  .btns-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .form-contact {
    width: 100%;
  }
  .btn-primary {
    font-size: 1rem;
    padding: 15px 0px;
    width: 60%;
    margin: auto;
  }
  .form-contact h3 {
    width: 100%;
    font-size: 0.8rem;
  }
}
