.galeria-container {
  min-height: 100vh;
  background: var(--bg-variant);
  padding-top: 100px;
  background-image: url("../../public/bg-patern3.png");
  border-bottom: solid 2px var(--primary);
}

.img-galeria {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-galeria::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6) url("../../public/Galeria.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.img-galeria h2 {
  position: relative;
  color: var(--white);
  font-size: 3.5rem;
  text-decoration: underline 2px var(--primary);
}

.galerias-container {
  background: var(--white);
  width: 100%;
}

.slide-galery {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s;
}

.slide-galery:hover {
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
}

.slide-galery img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.galery-show {
  position: fixed;
  display: none;
  z-index: 120;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}

.galery-show.active {
  display: flex;
}

.img-div-galery {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.img-div-galery:hover {
  transform: scale(1.5);
}

.img-in {
  height: 60%;
  transition: all 1s;
}

.icon-x {
  position: fixed;
  right: 0;
  cursor: pointer;
  margin: 20px;
  color: #fff;
  font-size: 2rem;
  z-index: 200;
  transition: all 0.5s;
}

.icon-x:hover {
  color: rgba(255, 68, 68, 0.73);
}

.icon-left {
  color: #fff;
  position: fixed;
  left: 0;
  margin-left: 30px;
  font-size: 3rem;
  top: 50%;
  transition: all 0.5s;
  cursor: pointer;
}

.icon-right {
  color: #fff;
  position: fixed;
  right: 0;
  font-size: 3rem;
  top: 50%;
  margin-right: 30px;
  transition: all 0.5s;
  cursor: pointer;
}

.icon-left:hover {
  color: #fff;
  transform: scale(1.2);
}

.icon-right:hover {
  color: #fff;
  transform: scale(1.2);
}

.mySwiper2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.swiper-button-prev::after {
  background: rgb(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;
}

.swiper-button-next::after {
  background: rgb(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;
}

.swiper-slide {
  background: transparent;
}

.mySwiper3 {
  width: 100%;
  height: 350px;
  padding: 20px 0;
}

.galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.galeria h4 {
  font-size: 3rem;
  text-decoration: underline 3px var(--primary);
}

@media screen and (max-width: 1024px) {
  .galeria h4 {
    font-size: 2rem;
  }
  .img-galeria {
    height: 160px;
  }
}
@media screen and (max-width: 768px) {
  .galeria h4 {
    font-size: 1.7rem;
  }
  .img-galeria h2 {
    font-size: 2rem;
  }
  .img-galeria {
    height: 100px;
  }
}
