.nav {
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  z-index: 20;
}

.nav.active {
  background-color: var(--bg);
  height: 95px;
  z-index: 20;
}

.logo {
  width: 80px;
}

.slide-bar {
  display: none;
  z-index: 10;
  width: 100%;
}

.icon-slide {
  font-size: 1.6rem;
  margin-right: 10px;
}

.title-name {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .slide-bar {
    display: flex;
    position: fixed;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: var(--bg);
    border-bottom: 2px solid var(--primary);
    top: -100%;
    transition: 850ms;
    padding: 20px;
  }

  .title-name {
    font-size: 1.3rem;
  }
  .slide-bar.active {
    top: 0;
    transition: 850ms;
  }
}
